// ------------------- Main page (background) ---------------
.main-events {
    position: relative;
    min-height: calc(100dvh - $navHeight);
}

// ----------- Content including calendar header and calendar --------------
.main-events .content {
    user-select: none;
    overflow: hidden;

    position: relative;
    min-height: calc(100dvh - $navHeight);
    max-width: calc($navWidth - $logoWidth); // nav bar max width - logo
    background-color: rgba(5, 5, 5, 0.7);

    margin: 0 auto;

    padding: 2rem calc($logoWidth / 2 + 1rem);
    color: $color-white-gray;

    .header {
        font-size: $font-size-lg;
        font-family: $font-display;
    }

    .explanation {
        margin-bottom: 4px;
    }

    .date {
        font-size: $font-size-md;
        select {
            color: $color-white;
            font-size: $font-size-md;

            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 0.25rem;

            option {
                background-color: darken(
                    $color: $color-raspberry-red-dark,
                    $amount: 10
                );
            }

            &:focus {
                outline: none;
            }
        }
    }

    .calendar-header {
        margin: 2rem 0;

        text-align: center;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        p {
            font-size: $font-size-md;
            // text-align: left;
        }

        .month-switcher {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 0 auto;
            max-width: 280px;
            width: 100%;

            p {
                font-size: 1.8rem;
                font-weight: bold;
            }

            a {
                color: $color-white-gray;
            }

            svg {
                cursor: pointer;

                width: 2rem;
                height: 2rem;
            }
        }
    }

    .footer {
        margin: 0.5rem 0;
        color: $color-white-gray;

        strong,
        a {
            color: $color-white-gray;
        }
    }

    .social-media {
        position: absolute;
        bottom: 1rem;
        left: -3rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
            color: $color-white;
        }

        cursor: pointer;

        svg {
            scale: 1.3;
        }
    }
}

@include content-max-width-breakpoint {
    .main-events .content {
        margin: 0 calc(($logoWidth / 2) + $navPadding);
    }
}

@include lg-breakpoint {
    .main-events .content {
        margin: 0;
        padding: 0.5rem 1rem;

        .social-media {
            position: relative;
            bottom: auto;
            left: auto;

            flex-direction: row;
            margin: 1rem 0;
        }
    }
}

@include sm-breakpoint {
    .main-events .content {
        padding: 0.5rem;

        .header {
            font-size: $font-size-md;
        }

        .date {
            font-size: $font-size-sm;

            select {
                font-size: $font-size-sm;
            }
        }
    }
}

// ------------------ Calendar container -------------------
.main-events .calendar-container {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    .day {
        display: flex;
        flex-direction: column;

        height: 100%;
        position: relative;

        .number {
            position: absolute;
            top: 0rem;
            right: 0rem;
            padding: 0 0.4rem 0.2rem 0.2rem;
            z-index: 2;

            font-family: $font-display;
            font-size: 1.3rem;
            line-height: 1.3rem;
        }
        .dim {
            color: $color-gray;
        }

        .event {
            flex-grow: 1;
            flex-basis: 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            --event-color: $color-raspberry-red;
            --event-color-darker: color-mix(
                in srgb,
                var(--event-color),
                #000 15%
            );

            .event-btn {
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: center;
                border: none;
                color: $color-white;
                padding: 0.25rem;
                text-align: left;
                width: 100%;
                height: 100%;
                cursor: pointer;
                background-color: var(--event-color);
                transition: background-color $transition-duration;

                &:hover {
                    background-color: var(--event-color-darker);
                }
            }

            &:first-of-type .event-btn::after {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                width: 34px;
                height: 25px;
                background-color: var(--event-color);
                transition: background-color $transition-duration;
            }

            &:first-of-type .event-btn:hover::after {
                background-color: var(--event-color-darker);
            }

            .sm {
                font-size: $font-size-xs;
            }
            .md {
                font-size: $font-size-sm;
                font-family: $font-display;
                text-transform: uppercase;
                font-weight: 900;
            }

            &:not(:only-of-type) {
                .sm {
                    font-size: calc($font-size-xs - 0.05rem);
                    line-height: 0.7rem;
                }

                .md {
                    font-size: calc($font-size-sm - 0.1rem);
                    line-height: 0.8rem;
                }
            }

            transition: $transition-duration ease-out;
            cursor: pointer;
        }
    }

    td {
        border: 1px solid $color-white;
        position: relative;
        height: max(16vh, 150px);
        width: 14.29%;
    }
}

@include xl-breakpoint {
    .main-events .calendar-container .day .event .sm {
        &:nth-child(1),
        &:nth-child(3) {
            display: none;
        }
    }
}

@include lg-breakpoint {
    .main-events .calendar-container {
        .day {
            .number {
                font-size: 1.2rem;
            }
            .event:first-of-type .event-btn::after {
                width: 32px;
                height: 23px;
            }
        }
    }
}

@include md-breakpoint {
    .main-events .calendar-container .day {
        .event {
            &:not(:only-of-type) .md,
            .md {
                font-size: calc(0.2rem + 1vw);
                line-height: 0.65rem;
            }

            .sm {
                display: none;
            }
        }
    }
}

@include sm-breakpoint {
    .main-events .calendar-container {
        td {
            height: 120px;
        }
    }

    .main-events .calendar-container .day {
        .number {
            line-height: 1.2rem;
            font-size: 1rem;
            padding: 0 0.3rem 0.2rem 0.2rem;
        }
        .event:first-of-type .event-btn::after {
            width: 24px;
            height: 20px;
        }
    }
}

@include xs-breakpoint {
    .main-events .calendar-container {
        td {
            height: 80px;
            overflow-y: scroll;
        }
    }
}

// ------------------ Event modal -------------------

.main-events .event .modal {
    cursor: auto;

    position: fixed;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;

    background-color: rgba(5, 5, 5, 0.7);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 51;

    display: grid;
    place-items: center;

    animation: modal-appear $transition-duration forwards ease-out;

    .modal-content {
        user-select: auto;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        position: relative;

        font-size: 1rem;
        color: $color-black;
        background-color: $color-white-gray;

        width: 95%;
        max-width: 400px;
        min-height: min(80vh, 450px);
        max-height: 80vh;

        overflow-y: auto;
        overflow-x: hidden;

        padding: 1.4rem 1rem;
        border-radius: $border-radius;

        .close-btn {
            color: $color-white;

            position: absolute;
            top: 0.5rem;
            right: 0.5rem;

            display: grid;
            place-items: center;

            padding: 0.1rem;
            border-radius: 0.6rem;
            background-color: var(--event-color);

            cursor: pointer;

            svg {
                scale: 0.6;
            }
        }

        .modal-title {
            font-family: $font-display;
            font-size: 1.8rem;
            font-weight: 900;
            text-transform: uppercase;
            color: var(--event-color);
        }

        .modal-contacts {
            margin-top: auto;

            .contacts {
                margin-top: 0.8rem;

                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    color: $color-white;
                    text-decoration: none;
                    cursor: pointer;
                    font-family: inherit;
                    padding: 0.3rem 0.6rem;
                    border-radius: 3px;
                    font-size: $font-size-sm;
                    font-weight: bold;
                    background-color: var(--event-color);
                    text-transform: uppercase;
                    transition: all $transition-duration;
                }
            }
        }
    }
}

.main-events .event .modal-enter {
    .modal-content {
        animation: modal-content-appear $transition-duration ease-out forwards;
    }
}

.main-events .event .modal-leave {
    .modal-content {
        animation: modal-content-leave $transition-duration ease-in forwards;
    }

    animation: modal-leave $transition-duration ease-in forwards;
}

@keyframes modal-appear {
    0% {
        background-color: rgba($color: $color-black, $alpha: 0);
    }
}

@keyframes modal-leave {
    100% {
        background-color: rgba($color: $color-black, $alpha: 0);
    }
}

@keyframes modal-content-appear {
    0% {
        opacity: 0;
        scale: 0;
    }
}

@keyframes modal-content-leave {
    100% {
        opacity: 0;
        scale: 0;
    }
}

// ------------------ Calendar animations -------------------
.calendar-leave-up {
    animation: calendar-leave-up 250ms forwards;
}

.calendar-enter-up {
    animation: calendar-enter-up 250ms;
}

@keyframes calendar-leave-up {
    100% {
        transform: translateX(-100px);
        opacity: 0;
    }
}

@keyframes calendar-enter-up {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
}

.calendar-leave-down {
    animation: calendar-leave-down 250ms forwards;
}

.calendar-enter-down {
    animation: calendar-enter-down 250ms;
}

@keyframes calendar-leave-down {
    100% {
        transform: translateX(100px);
        opacity: 0;
    }
}

@keyframes calendar-enter-down {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
}
