$navWidth: $content-max-width;
$logoWidth: 130px;
$navHeight: 60px;
$navPadding: 16px;

// ------------------- Main page (background) ---------------
.main-events{
    position: relative;
    min-height: calc(100dvh - $navHeight);
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        transparent 100%
    );


    .screen-image {
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

// ----------- Content including calendar header and calendar --------------
.main-events .content{
    min-height: calc(100dvh - $navHeight);
    max-width: calc($navWidth - $logoWidth); // nav bar max width - logo
    background-color: rgba($color: $color-black, $alpha: 0.6);

    margin: 0 auto;

    padding: 2rem calc($logoWidth / 2 + 1rem);
    color: $color-white-gray;

    .header{
        font-size: $font-size-lg;
        font-family: $font-display;
    }

    .date{
        font-size: $font-size-md;
    }

    .flex-between{
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 0.5rem 0;
    }
}

@media (max-width: calc($navWidth + $navPadding)) {
    .main-events .content {
        margin: 0 calc(($logoWidth / 2) + $navPadding);
    }
}

@include lg-breakpoint {
    .main-events .content {
        margin: 0;
        padding: 0.5rem 1rem;

        .flex-between {
            padding-left: calc($logoWidth + 1rem);
            text-align: right;

            flex-direction: column;
            align-items: end;

            gap: 0.5rem;
        }
    }
}

@include sm-breakpoint {
    .main-events .content {
        padding: 0.5rem;

        .header{
            font-size: $font-size-md;
        }

        .date{
            font-size: $font-size-sm;
        }
    }
}


// ------------------ Calendar container ------------------- 
.main-events .calendar-container{
    width: 100%;
    border-collapse: collapse;
    

    .day{
        display: flex;
        flex-direction: column;

        height: 100%;
        position: relative;
        
        .number{
            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
            
            font-family: $font-display;
        }

        .event{
            padding: 0.25rem;
            flex-grow: 1;

            display: flex;
            flex-direction: column;
            justify-content: center;

            .sm{ font-size: $font-size-xs; }
            .md { font-size: $font-size-sm; font-family: $font-display; }

            transition: $transition-duration ease-out;
            cursor: pointer;
        }
    }

    td{
        border: 1px solid $color-white;
        position: relative;
        height: max(16vh, 130px);
        width: 14.29%;
    }
}

@include xl-breakpoint{
    .main-events .calendar-container .day .event .sm {
        &:nth-child(1), &:nth-child(3){
            display: none;
        }
    }
}

@include lg-breakpoint{
    .main-events .calendar-container {
        .day { 
            .number{
                font-size: $font-size-sm;
            }

        }
    }
}

@include md-breakpoint{
    .main-events .calendar-container .day {
        .event {
            .md{
                font-size: 40%;
            }

            .sm {
                display: none;
            }
        }
    }
}

@include sm-breakpoint{
    .main-events .calendar-container{
        td {
            height: 120px;
        }
    }
}

@include xs-breakpoint{
    .main-events .calendar-container{
        td {
            height: 80px;
            overflow-y: scroll;
        }
    }
}
