@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/navigation";

@import "layout/app";

@import "pages/about";
@import "pages/blog";
@import "pages/events";
@import "pages/gallery";
@import "pages/landing";
@import "pages/services";
@import "pages/stay";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
