.section-background-image {
    z-index: -1;
    width: 100vw;
    height: calc(100vh - 60px);
    transform: scale(1); // Fixes iOS problem, when URL bar minimizes
    position: fixed;
    top: 60px;
    left: 0;
    object-fit: cover;
    object-position: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    --background-image-gradient: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        transparent 100%
    );

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.with-gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-image-gradient);
}
