.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: $color-black;
    color: $color-white;
    padding: 1rem;
    z-index: 11;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @include md-breakpoint {
        flex-direction: column;
        gap: 20px;
        align-items: start;
        padding-block: 1.5rem;
    }

    &__heading {
        font-weight: 500;
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    &__text {
        font-size: 0.9rem;
        font-weight: 300;

        a {
            color: inherit;
        }
    }

    &__btns {
        display: flex;
        gap: 10px;

        button {
            display: block;
            padding: 0.8rem 1.5rem;
            text-align: center;

            border: none;
            border-radius: 3px;
            background-color: $color-raspberry-red;

            color: $color-white;
            font-size: $font-size-sm;
            width: fit-content;
            cursor: pointer;
            text-decoration: none;

            transition: ease-out $transition-duration;

            &:hover {
                background-color: $color-raspberry-red-dark;
                color: $color-white-gray;
            }
            &:active {
                background-color: $color-raspberry-red-light;
                color: $color-white;
            }
        }
    }
}
