.image-row {
    width: 100%;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: $border-radius;
    overflow: hidden;

    // @include lg-breakpoint {
    //     grid-template-columns: repeat(2, 1fr);
    // }

    @include sm-breakpoint {
        grid-template-columns: 1fr;
    }

    .image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
