header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 60px;
    border-top: 8px solid $color-raspberry-red;
    background-color: $color-black;
    padding: 0 1rem;

    > div {
        max-width: $page-margins;
        margin: 0 auto;
        height: 100%;
        display: flex;
        gap: 20px;
    }

    .logo-link {
        img {
            width: 150px;
            transform: translateY(-1px);
        }
    }

    nav {
        ul {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                text-transform: uppercase;
                color: $color-white;
                text-decoration: none;
                transition: color $transition-duration;

                &:hover {
                    color: $color-white-gray;
                }
            }

            .underline {
                text-decoration: underline;
            }
        }
    }

    .hamburger {
        display: none;
    }
}
