.section-heading {
    --heading-decrease-size: 0px;

    font-family: $font-display;
    font-weight: bold;
    color: $color-white-gray;
    font-size: calc($font-size-xl - var(--heading-decrease-size));
    text-shadow: $text-shadow;
    word-break: break-word;
    hyphens: auto;
    text-transform: uppercase;
    transform: translateZ(0);

    @include md-breakpoint {
        font-size: calc(
            $font-size-lg - 0.4rem + 5.5vw - var(--heading-decrease-size)
        );
    }
}

.heading-prefix {
    font-size: 0.7em;
    display: block;

    @include md-breakpoint {
        font-size: 0.6em;
    }
}
