html {
    font-family: "Roboto Condensed", sans-serif;
}

:root {
    --color-raspberry-red-light: 330deg 100% 34%;
    --color-raspberry-red: 330deg 100% 31%;
    --color-raspberry-red-dark: 330deg 100% 28%;

    --color-clay-brown-light: 9deg 53% 50%;
    --color-clay-brown: 9deg 53% 45%;
    --color-clay-brown-dark: 9deg 53% 40%;

    --color-nature-green-light: 69deg 32% 52%;
    --color-nature-green: 69deg 32% 46%;
    --color-nature-green-dark: 69deg 32% 40%;

    --color-sky-blue-light: 202deg 36% 57%;
    --color-sky-blue: 202deg 36% 51%;
    --color-sky-blue-dark: 202deg 36% 45%;

    --color-stone-gray-light: 72deg 5% 42%;
    --color-stone-gray: 72deg 5% 37%;
    --color-stone-gray-dark: 72deg 5% 32%;

    --color-sand-yellow-light: 38deg 69% 57%;
    --color-sand-yellow: 38deg 69% 51%;
    --color-sand-yellow-dark: 38deg 69% 45%;

    --color-white: 255 255 255;
    --color-white-gray: 235 235 236;
    --color-black-gray: 77 77 79;
    --color-black: 35 31 32;
}
