.page-margins {
    max-width: calc($navWidth - $logoWidth);
    margin: 0 auto 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-lg;

    @include content-max-width-breakpoint {
        margin: 0 calc(($logoWidth / 2) + $navPadding) 3rem;
    }

    @include lg-breakpoint {
        margin: 0 $navPadding 3rem;
    }
}

.head {
    .page-title {
        margin: 4rem 1rem 1rem;
    }

    .blog-filter-search {
        border-radius: $border-radius;
        background-color: rgba(5, 5, 5, 0.55);
        color: $color-white;
        font-size: $font-size-md;
        font-weight: 300;
        padding: 2rem;

        label {
            display: flex;
            gap: 10px;
            align-items: center;

            @include xs-breakpoint {
                flex-direction: column;
            }
        }

        select {
            border-radius: $border-radius;
            border: none;
            padding: 6px;
            color: black;
            font-size: 1rem;
        }

        @include md-breakpoint {
            font-size: calc($font-size-md - 0.05rem);
            padding: 2rem 1.5rem;

            select {
                font-size: calc(1rem - 0.1rem);
            }
        }
    }
}

.__news-screen-image {
    position: fixed;
    top: 0;
    height: calc(100vh - 60px); // 60px - nav height
    margin-top: 60px;
    width: 100%;
    z-index: -1;

    .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.5) 50%,
            transparent 100%
        );
    }

    .gradient-reading {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(0, 0, 0, 0.9) 50%,
            rgba(0, 0, 0, 0.8) 100%
        );
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.page-title {
    font-family: $font-display;
    font-size: $font-size-xl;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    line-height: 110%;
}

.blog-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @include xl-breakpoint {
        gap: 3rem;
    }
}
.blog-card {
    display: flex;
    flex-direction: column;
    --blog-card-bg: hsl(9deg, 53%, 40%, 0.9);
    background-color: var(--blog-card-bg);
    padding: 1.2rem;
    border-radius: $border-radius;
    gap: 16px;
    box-shadow: $box-shadow-light;

    img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: $border-radius;
    }

    text-decoration: none;
    color: $color-white;
    .date,
    .category {
        font-size: 0.9rem;
        font-weight: normal;
        margin-bottom: -$spacing-sm;
        opacity: 0.75;
    }
    .category {
        margin-bottom: 5px;
    }
    .date {
        margin-bottom: 12px;
    }
    .content {
        display: flex;
        flex-direction: column;

        h2 {
            text-transform: uppercase;
            font-size: 2rem;
        }
    }

    transition: $transition-duration ease-out;
    cursor: pointer;
    &:hover {
        filter: brightness(1.2);
        transform: scale(1.01);
    }
}

.blog-post {
    --blog-color: hsl(9deg, 53%, 40%, 0.9);

    .blog-post-head {
        display: grid;
        margin: 6rem 0 2rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        width: 100%;

        @media only screen and (max-width: 900px) {
            grid-template-columns: 1fr;
        }

        justify-content: space-between;
        img {
            border: 1.2rem solid var(--blog-color);
            border-radius: $border-radius;
            max-width: min(600px, 100%);
            max-height: 500px;
            object-fit: contain;
            float: right;
            justify-self: center;
            align-self: center;

            @media only screen and (max-width: 900px) {
                justify-self: start;
            }

            @include sm-breakpoint {
                border-width: 1rem;
            }
        }
    }

    color: $color-white;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    .metadata {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        gap: $spacing-sm;
        font-weight: bold;
        p {
            border-radius: 999px;
            background-color: var(--blog-color);
            padding: $spacing-xs $spacing-sm;
        }
    }
    h1 {
        margin-top: 2rem;
        font-size: $font-size-xl;
        opacity: 0.85;
        text-align: start;

        @media only screen and (max-width: 900px) {
            margin-block: 1.2rem;
        }
    }
}

.blog-post-content {
    line-height: 2;
    margin-bottom: $spacing-xl;
    h2 {
        font-family: $font-display;
        font-size: $font-size-lg;
        text-transform: uppercase;
        margin-top: $spacing-lg;
        margin-bottom: $spacing-xs;
    }
    p {
        font-weight: normal;
        font-size: $font-size-md;
    }
}
.__news {
    @include md-breakpoint {
        .blog-section {
            grid-template-columns: 1fr 1fr;
            gap: $spacing-lg;
        }
        .page-title {
            font-size: calc(2.7rem + 3vw);
        }

        .blog-post-head {
            margin-top: 4.4rem;
            margin-bottom: 0.4rem;
        }

        .blog-post-content {
            margin-bottom: $spacing-md;
            h2 {
                margin-top: $spacing-xl;
                line-height: 1.2;
            }
        }
        .blog-post {
            .border {
                aspect-ratio: 16 / 10;
            }
            .metadata {
                gap: $spacing-md;
                p {
                    font-size: 0.9rem;
                }
            }
            h1 {
                text-align: start;
            }
        }
    }

    @include xs-breakpoint {
        .blog-section {
            grid-template-columns: 1fr;
            gap: 4rem;
        }
    }
}

.error {
    color: $color-white;
    font-size: $font-size-md;
    text-align: center;
}
