$color-raspberry-red-light: hsl(330deg, 100%, 34%);
$color-raspberry-red: hsl(330deg, 100%, 31%);
$color-raspberry-red-dark: hsl(330deg, 100%, 28%);

$color-clay-brown-light: hsl(9deg, 53%, 50%);
$color-clay-brown: hsl(9deg, 53%, 45%);
$color-clay-brown-dark: hsl(9deg, 53%, 40%);

$color-nature-green-light: hsl(69deg, 32%, 52%);
$color-nature-green: hsl(69deg, 32%, 46%);
$color-nature-green-dark: hsl(69deg, 32%, 40%);

$color-sky-blue-light: hsl(202deg, 36%, 57%);
$color-sky-blue: hsl(202deg, 36%, 51%);
$color-sky-blue-dark: hsl(202deg, 36%, 45%);

$color-stone-gray-light: hsl(72deg, 5%, 42%);
$color-stone-gray: hsl(72deg, 5%, 37%);
$color-stone-gray-dark: hsl(72deg, 5%, 32%);

$color-sand-yellow-light: hsl(38deg, 69%, 57%);
$color-sand-yellow: hsl(38deg, 69%, 51%);
$color-sand-yellow-dark: hsl(38deg, 69%, 45%);

$color-white: rgb(255, 255, 255);
$color-white-gray: rgb(235, 235, 236);
$color-black-gray: rgb(77, 77, 79);
$color-black: rgb(35, 31, 32);
$color-black-light: rgb(45, 38, 40);
$color-black-true: rgb(0, 0, 0);

$transition-duration: 0.3s;

$content-max-width: 1600px;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

$font-size-xxl: 6rem;
$font-size-xl: 4.5rem;
$font-size-lg: 2.2rem;
$font-size-md: 1.2rem;
$font-size-sm: 0.8rem;

$font-display: "Playfair Display", serif;
$font-body: "Roboto Condensed", sans-serif;
