.books {
    max-width: calc($navWidth - $logoWidth);
    margin: 0 auto 3rem;

    .head {
        text-align: center;
        margin: 4rem 1rem 4rem;
    }

    section {
        position: relative;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        column-gap: 60px;
        row-gap: 5rem;
        width: 100%;

        .book {
            max-width: 270px;
            position: relative;

            &:before {
                content: "";
                width: 88%;
                height: 107%;
                position: absolute;
                z-index: -1;
                top: -3.5%;
                left: 6%;
                background-color: $color-raspberry-red;
                border-radius: 3px;
            }

            a {
                display: block;
                background-color: $color-black;
                border-radius: $border-radius;
                box-shadow: 0 5px 70px $color-black-true;
                width: 100%;
                height: 100%;
                border-radius: $border-radius;
                overflow: hidden;
                text-decoration: none;
                transition: all $transition-duration;

                &:hover {
                    transform: scale(1.02);
                    filter: brightness(1.1);
                }

                img {
                    width: 100%;
                    aspect-ratio: 3/4;
                    object-fit: cover;
                }

                h2 {
                    font-size: 1.5rem;
                    font-family: $font-display;
                    font-weight: 300;
                    color: $color-white;
                    padding: 8px 5% 6px;
                    text-align: center;
                }

                p {
                    font-size: 0.9rem;
                    color: $color-white;
                    font-weight: 300;
                    text-align: center;
                    padding: 0px 5% 16px;
                }
            }
        }
    }

    @include content-max-width-breakpoint {
        margin: 0 calc(($logoWidth / 2) + $navPadding) 3rem;

        section {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @include lg-breakpoint {
        margin: 0 $navPadding 3rem;

        section {
            column-gap: 40px;

            .album a h2 {
                font-size: calc(0.8rem + 1vw);
            }
        }
    }

    @include md-breakpoint {
        section {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include xs-breakpoint {
        section {
            grid-template-columns: 1fr;
        }
    }

    .error {
        color: $color-white;
        font-size: $font-size-md;
        text-align: center;
    }

    .paginate {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .flex {
            display: flex;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 10px 20px;
            border-radius: $border-radius;
            color: $color-white;
            font-weight: 300;
        }
        .items-center {
            align-items: center;
        }
        .justify-between {
            justify-content: center;
        }

        .w-5 {
            width: 24px;
        }
        .h-5 {
            height: 24px;
            transform: translateY(2px);
        }
        .flex-1 {
            display: none;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        .hidden > div > span {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;

            > a,
            > span {
                padding: 4px 8px;
                border-radius: $border-radius;
                transition: all $transition-duration;

                &:hover {
                    background-color: $color-raspberry-red;
                }
            }

            > a:first-child,
            > a:last-child,
            > span:first-child,
            > span:last-child {
                padding: 0;
            }

            [aria-disabled]:not([aria-disabled="false"]):hover {
                background-color: transparent;
            }

            [aria-current]:not([aria-current="false"]) {
                font-weight: bold;
                background-color: $color-raspberry-red;
            }
        }
    }
}
